#initially-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable-paragraph {
  cursor: progress;
  color: black;
}

.clickable-paragraph:hover {
  text-decoration: underline;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.black-background {
  background-color: black;
  color: white;
}

.btn-darkMode {
  background-color: grey;
}

.box-h {
  border: 5px solid blue;
  background-color: yellow;
}
